.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.shirtButtons {
  padding: 20px;
}

/* .canvas {
  border:10px solid #d3d3d3;
} */

.imgPreview {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
.imgPreview > img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: stretch;
}   

#sidebar {
  min-width: 20%;
  max-width: 20%;
  min-height: 100vh;
  padding-left: 15px;
  padding-top: 15px;
  background: #E1E1E8;
  color: #000000;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar.active {
  margin-left: -250px;
}

#section1Submenu > li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

#content {
  padding-left: 3%;
  padding-top: 3%;
  float: left;
}

.previewComponent {
  float: right;
}
